*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "lato", sans-serif;
    font-size: 16px;
    color: #777;
    font-weight: 400;
    line-height: 1.7;
    padding: 30px;
}
.header
{
    height: 95vh;
    background: linear-gradient(to right bottom,
    rgba(126, 213, 111, 0.8),
     rgba(40, 180, 131, 0.8)),
      url(hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}
.logo_box
{
    position: absolute;
    left: 40px;
    top: 40px;
}
.logo
{
    height: 35px;
}

.text_box
{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading_primary
{
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 60px;
}
.heading_primary_main
{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 3s;

}
.heading_primary_sub
{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation-name: moveInRight;
    animation-duration: 3s;
}
@keyframes moveInLeft
{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%
    {
      transform: translateX(20px);
    }
    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight
{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%
    {
      transform: translateX(-20px);
    }
    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBtn
{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}
.btn:link,
btn:visited
{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}
.btn_white
{
    background-color: #fff;
    color: #777;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0,0,0,.2);
}
.btn:active
{
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}
.btn::after
{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute; 
    z-index: -1;
    transition: all .4s; 
}
.btn_white::after
{
    background-color: #fff;
}
.btn:hover::after
{
    transform: scaleX(1.4) scaleY(1.6);  
    opacity: 0;
}
.btn_animated
{
    animation: moveInBtn .5s ease-out .75s;
    animation-fill-mode: backwards;
}
