*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "lato", sans-serif;
    font-size: 16px;
    color: #777;
    font-weight: 400;
    line-height: 1.7;
    padding: 30px;
}
.header
{
    height: 95vh;
    background: linear-gradient(to right bottom,
    rgba(126, 213, 111, 0.8),
     rgba(40, 180, 131, 0.8)),
      url(hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}
.logo_box
{
    position: absolute;
    left: 40px;
    top: 40px;
}
.logo
{
    height: 35px;
}
.text_box
{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.heading_primary
{
    color: #fff;
    text-transform: uppercase;
}
.heading_primary_main
{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}
.heading_primary_sub
{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
}
