*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

  html
  {
      font-size: 62.5%;
  }

body{
    font-family: "lato", sans-serif;
    font-size: 16px;
    color: #777;
    font-weight: 400;
    line-height: 1.7;
    padding: 30px;
}
.header
{
    height: 95vh;
    background: linear-gradient(to right bottom,
    rgba(126, 213, 111, 0.8),
     rgba(40, 180, 131, 0.8)),
      url(hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}
.logo_box
{
    position: absolute;
    left: 40px;
    top: 40px;
}
.logo
{
    height: 35px;
}

.text_box
{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading_primary
{
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 60px;
}
.heading_primary_main
{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 3s;

}
.heading_primary_sub
{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation-name: moveInRight;
    animation-duration: 3s;
}
@keyframes moveInLeft
{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%
    {
      transform: translateX(20px);
    }
    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight
{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%
    {
      transform: translateX(-20px);
    }
    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBtn
{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}
.btn:link,
btn:visited
{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}
.btn_white
{
    background-color: #fff;
    color: #777;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0,0,0,.2);
}
.btn:active
{
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
}
.btn::after
{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute; 
    z-index: -1;
    transition: all .4s; 
}
.btn_white::after
{
    background-color: #fff;
}
.btn:hover::after
{
    transform: scaleX(1.4) scaleY(1.6);  
    opacity: 0;
}
.btn_animated
{
    animation: moveInBtn .5s ease-out .75s;
    animation-fill-mode: backwards;
}

/* MAIN */

.section-about
{
    background-color: #f7f7f7;
    padding: 25rem 0;
    margin-top: -20vh;
}
.heading-secondary
{
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition:  all .2s;
    
}
.heading-secondary:hover
{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.u-center-text
{
    text-align: center;
}

/* ////////////GRID/////////// */

.row
{
    max-width: 114rem;
    /* background-color: #eee; */
    margin: 0 auto;
}
.row:not(:last-child)
{
    margin-bottom: 8rem;
}
.row::after {
    content: "";
    display: table;
    clear: both; }

 .col-1-col-2
{
    width: calc((100% - 6rem) / 2);
    /* background-color: orangered; */
    float: left;
}
.col-1-col-2:not(:last-child)
{
    margin-right: 6rem;
}

.u-margin-bottom-8
{
   margin-bottom: 8rem; 
}
.heading-ternary
{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
}
.paragraph
{
    font-size: 1.6rem;
}
.paragraph:not(:last-child)
{
    margin-bottom: 3rem;
}
.u-margin-bottom-2
{
    margin-bottom: 1.5rem;
}
.btn-text:link, .btn-text:visited
{
    color: #55c57a;
    font-size: 1.6rem;
    border-bottom: 1px solid;
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    transition:  all .2s;
}
.btn-text:hover
{
    background-color: #55c57a;
    color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); 
}
.btn-text:active
{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
}
.composition
{
    position: relative;
}
.composition__photo
{
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    z-index: 10;
    outline-offset: 2rem;
}
.composition__photo--p1
{
    top: -2rem;
    left: 0;
}
.composition__photo--p2
{
    top: 2rem;
    right: 0;
}
.composition__photo--p3
{
    top: 10rem;
    left: 20%;
}
.composition__photo:hover
{
    transform: scale(1.05) translateY(-.5rem);
    z-index: 20; 
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    outline:  1.5rem solid #55c57a;;
}
.composition:hover .composition__photo:not(:hover)
{
    transform: scale(.9);
}

